<div data-v-4c8e8283="" class="jsVueComponent">
    <section data-v-4c8e8283="" class="tab-content panel editor-section">
        <div data-v-4c8e8283="" class="edit-area mb-5">
            <div class="menubar">
                <section class="menubar-group">
                    <div class="btn btn-for-formatting-text"><i>I</i></div>
                    <div class="btn btn-for-formatting-text"><b>B</b></div>
                    <div class="btn btn-for-formatting-text"><s>S</s></div>
                </section>
                <section class="menubar-group">
                    <div class="btn btn-for-formatting-text">
                        <svg class="ic_align_center">
                            <use href="/assets/icons/icons-sprite26.svg#ic_align_center"></use>
                        </svg>
                    </div>
                    <div class="btn btn-for-formatting-text">
                        <svg class="ic_align_right">
                            <use href="/assets/icons/icons-sprite26.svg#ic_align_right"></use>
                        </svg>
                    </div>
                </section>
                <section class="menubar-group">
                    <div class="btn btn-for-formatting-text">Tab</div>
                    <div class="btn btn-for-formatting-text">[?]</div>
                    <div class="btn btn-for-formatting-text">***</div>
                </section>
            </div>
            <textarea name="content" rows="20" id="content" maxlength="1000000"
                      class="raw-editor form-control jsCountCharacters mb-10"></textarea>
            <button class="ds-btn ds-btn-regular ds-btn-mini btn-check-spelling">
                <svg class="ic_spell-check2">
                    <use href="/assets/icons/icons-sprite26.svg#ic_spell-check2"></use>
                </svg>
                Проверить правописание
            </button>
        </div>
        <div data-v-0d757804="" data-v-4c8e8283="" style="display: none;">
            <div data-v-0d757804="" class="menubar">
                <section class="menubar-group">
                    <div class="btn btn-for-formatting-text"><i>I</i></div>
                    <div class="btn btn-for-formatting-text"><b>B</b></div>
                    <div class="btn btn-for-formatting-text"><s>S</s></div>
                </section>
                <section class="menubar-group">
                    <div class="btn btn-for-formatting-text">
                        <svg class="ic_align_left">
                            <use href="/assets/icons/icons-sprite26.svg#ic_align_left"></use>
                        </svg>
                    </div>
                    <div class="btn btn-for-formatting-text disabled">
                        <svg class="ic_align_center">
                            <use href="/assets/icons/icons-sprite26.svg#ic_align_center"></use>
                        </svg>
                    </div>
                    <div class="btn btn-for-formatting-text">
                        <svg class="ic_align_right">
                            <use href="/assets/icons/icons-sprite26.svg#ic_align_right"></use>
                        </svg>
                    </div>
                </section>
                <section class="menubar-group">
                    <div class="btn btn-for-formatting-text disabled">
                        <svg class="ic_undo">
                            <use href="/assets/icons/icons-sprite26.svg#ic_undo"></use>
                        </svg>
                    </div>
                    <div class="btn btn-for-formatting-text disabled">
                        <svg class="ic_redo">
                            <use href="/assets/icons/icons-sprite26.svg#ic_redo"></use>
                        </svg>
                    </div>
                </section>
                <section class="menubar-group">
                    <div class="btn btn-for-formatting-text">Tab</div>
                    <div class="btn btn-for-formatting-text">[?]</div>
                </section>
            </div>
            <div data-v-0d757804="">
                <div contenteditable="true" translate="no" class="ProseMirror">
                    <center>══════ஜ▲ஜ══════</center>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <right><i><b>Апотамкин рождён, и лик явит из-за кадил, <br>Церкви сжигались для того, чтобы я в них
                        не заходил.<br>SIDxRAM, «Транс Сфер»</b></i></right>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>Вот кто его за язык тянул? Что за демон трахнул его мозг и породил именно такой вариант. Ну это
                        же... Это ж, блядь, ненормально. С такими мыслями прямая дорога в дурдом. Но не-е-е, он туда
                        больше ни ногой... А потому приходится заниматься этим. </p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>«На что я трачу свою жизнь?»</p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>Артур беззлобно цокнул языком и продолжил своё дело. Аккуратными движениями он заканчивал свою
                        музыкальную шкатулку, на создание которой ушло часов пять, не меньше. Это даже, в какой-то мере,
                        умиротворяет... Непривычно тихая округа, пустой заброшенный дом, ты наедине со своим творением.
                        Романтика.</p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>Закончив, он со вздохом облегчения поставил её на пол и закурил. </p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>— Накормить голодающих? Вылечить больных? Помочь бедным? — рассуждал он вслух. — Нет конечно, это
                        же люди, самые ублюдочные создания во вселенной. Им дали магию, силу, способную сделать мир
                        лучше, а они начали свои кровавые алко-трахательные вакханалии с жертвоприношениями и
                        исполнением безумных желаний. Отличное, блядь, решение! Да, Роджер? Нахуя ты это придумал?!
                        Старый ты изврат... А теперь и я страдаю этой хернëй. </p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>Зажав сигарету в зубах, Артур привёл механизм в действие. Маленькая крышка открылась, а изнутри,
                        с вращением барабана, заиграла тихая, но весёлая мелодия. Такая, какую могут сыграть на цирковых
                        представлениях, чтобы детишки радостно погрузились в мир трюков, фокусов и прочего говна.
                        Но... </p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>Шкатулку яростно пнул ботинок шестого с половиной размера
                        <footnote contenteditable="false"></footnote>
                        , от чего та разлетелась о стоящую позади неё облупившуюся стену.
                    </p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>— Не работает! — зло воскликнул Артур, с силой разбивая ногой на мелкие детали обломки. — Да
                        конечно не работает! На что я надеялся?! Я ж, блядь, не педофил! Что толку от моей магии, если
                        скопированные заклинания бесполезны?! </p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>Этот маленький пидерастический кусок дерева и металла должен был завлекать своей мелодией
                        маленьких детей, чтобы Артур мог их похитить, но Вселенная как и была стервозной сукой, так ей и
                        осталась. В нём теплилась надежда, что отсутствие настроя и педофильных мотивов не скажутся на
                        действии зачарованного предмета. А вот хер ему в рыло! То, что выходило у спидозного жирдяя
                        Роджера Смита, оказалось Артуру не под силу. И как теперь быть...</p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p><i>«Хах, думаю... Тебе понравится... Люди этого мира довольно занятны в своей половой
                        инвалидности. Представляешь, Шанти, у них тут перекос в сторону самок. Хочешь изучить этот
                        вопрос? Да не отвечай, по глазам вижу, что хочешь. Возможно, это не такое уж редкое явление во
                        всей необъятной, но здесь то – непаханное поле! Я тебе достану несколько особей для твоих
                        исследований, и мы в расчёте. Сделка?»</i></p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>Это было настолько тупое предложение, что Артур даже не надеялся на него. Но эфириал удивил,
                        задал лишь несколько уточняющих вопросов, а затем согласился. Условились на десяти детях разных
                        полов и возрастов. Поровну от обоих полов и возрастом до двенадцати лет. </p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>Когда Артур остался один, то его лоб с десяток раз познакомился с ближайшей стеной. Что за херню
                        он нёс?! Как вообще Гэв согласился на это?! И ещё дохрениллион вопросов. Но дело сделано, труп
                        охладился, последний корабль уплыл. Неделя, точнее уже пять дней, чтобы доставить сюда весь
                        товар. Великолепно, блядь! И где ему искать поляну с этими цветами жизни?</p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>А ведь первоначальный план был надёжный, как швейцарские часы: собрать музыкальную шкатулку с
                        чарами грязного педофила Смита, чтоб он в Аду перевернулся, и завлечь несколько детишек в
                        подворотню. Но он же, сука, не часовщик! Конечно же план пошёл по пизде! Другие варианты... А их
                        и нет. Он здесь даже не освоился толком, какие ему похищения малолеток?</p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>Воздух наполнился сигаретным дымом.</p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>Дети – та ещё морока, да и не его профиль. Ладно бы хер с ним с девочками, но парни... Что-то
                        подсказывает Артуру, что за ними тут приглядывают в сто глаз, если не больше. Слабый пол, бля...
                        Это он-то слабый?! Да засунуть бы их туда, где он вырос, они бы сдохли ещё в утробе! Чëртовы
                        янки! Чëртовы женщины!</p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>Разом истлела треть сигареты. </p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>«Нужно успокоиться и подумать»</p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>Он задумчиво осмотрелся.</p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>— Времени полно. Надо бы берлогу для начала найти, а потом уже строить из себя Джона Гейси...</p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <center>══════ஜ▲ஜ══════</center>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>...впрочем, можно подумать об этом чуть позже. Малые радости жизни никто не отменял, особенно
                        если они перемежаются с биологическими потребностями. </p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>Артур неспешно, с блаженной улыбкой на лице, вошёл в МакДональдс, расположенный в центре Куинса.
                        Это была одна из причин его приязни к Штатам — вкусная еда. По сравнению с английской... Рай и
                        Ад. Но почему он выбрал такой густонаселённый район? Хрен его знает... Такое чувство, что так
                        надо. Словно невидимая длань привела его именно сюда.</p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>А нет...</p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>«Ебучие дети... Совсем забыл о них. Теперь логично, почему именно здесь. На отшибах вряд ли
                        встретишь беспризорников нормального пола, так что пришлось в приличный район. Напряжно...»</p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>Но это потом. Пора предаваться чревоугодию. Вот только странно... Очереди к кассе нет, все стоят
                        перед каким-то экранами и тыкают в них пальцами.</p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>«А ведь Джон предсказывал это... Человечество отупело настолько, что не может оторваться от,
                        очевидно, разрекламированной инновационной хрени, смотря на которую даже мозг включать не надо.
                        Идиоты...»</p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>Перед ним предстала типичный подросток, решившая подзаработать. Ей определённо не нравится здесь
                        работать, но вариантов больше-то и нет. И опять грëбанная модель с обложки...</p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>— Эй, бедолага. </p>
                    <p><br class="ProseMirror-trailingBreak"></p>
                    <p>— А? — она обратила внимание на Артура, оторвавшись от разглядывания собственного маникюра. Её
                        лицо вмиг покраснело, а ошарашенный взгляд метался из стороны в сторону. — М-могу я принять ваш
                        заказ?</p></div>
            </div>
            <div data-v-0d757804="" class="complain-description text-right text-warning"></div>
        </div>
        <div data-v-4c8e8283="" class="editor-section__buttons">
            <div data-v-4c8e8283="" class="ds-btn ds-btn-regular ds-btn-mini"
                 title="Убрать лишние пробелы, заменить символы и т.п.">
                <svg class="ic_flower">
                    <use href="/assets/icons/icons-sprite26.svg#ic_flower"></use>
                </svg>
                Отформатировать текст
            </div>
            <label data-v-4c8e8283="" class="ds-btn ds-btn-regular ds-btn-mini input-file mb-0"
                   title="Импортировать docx документ с сохранением форматирования, чтобы не оформлять текст вручную">
                <svg data-v-4c8e8283="" class="ic_document-file-txt">
                    <use href="/assets/icons/icons-sprite26.svg#ic_document-file-txt"></use>
                </svg>
                Загрузить docx документ <input data-v-4c8e8283="" type="file" id="ajaxFileParser" class="hidden"
                                               data-max-file-size="500000" wfd-id="id7"></label></div>
        <div data-v-4c8e8283="" class="small-text text-right">Текущее количество страниц: 3</div>
        <p data-v-4c8e8283="" id="contentError" class="help-block form-error"></p></section>
    <nav data-v-4c8e8283="" class="nav-info mb-0">
        <ul data-v-4c8e8283="" class="list-inline">
            <li data-v-4c8e8283="" class="active"><a data-v-4c8e8283="">Обычный</a></li>
            <li data-v-4c8e8283="" class=""><a data-v-4c8e8283="">Визуальный <span data-v-4c8e8283=""
                                                                                   class="badge badge-beta small-text ml-10">beta</span></a>
            </li>
            <button data-v-4c8e8283="" class="ds-btn ds-btn-regular ds-btn-mini pull-right hidden-xs">
                <svg class="ic_enlarge">
                    <use href="/assets/icons/icons-sprite26.svg#ic_enlarge"></use>
                </svg>
                <span class="hidden-sm">Увеличить поле</span></button>
        </ul>
    </nav>
</div>